body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root, .mh-vh{
  min-height: 100vh;
}

.image-view{
  min-height: 300px !important;
  min-width: 300px !important;
  max-height: 400px !important;
  max-width: 400px !important;
}
.modal-backdrop{
  background-color: rgba(0, 0, 0, 0.5) !important;
}
*{
  transition: all 150ms ease;
}